#nav-bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #1e1e1e;
    align-items: center;
}

#nav-bar h1{
    color: #f6f6f6;
    margin-left: 12px;
    cursor: pointer;
}

#nav-bar a{
    color: #f6f6f6;
    margin-left: auto;
    margin-right: 12px;
}

#nav-bar a:hover{
    color: #e1e1e1;
}